<div>
  <div>
    <p>A "pack" is a combination of:</p>
    <ul>
      <li>
        Editing mode. Wed is a generic XML editor. Modes are largely what
        determines what features are available to the user. For instance, wed
        is bundled with a generic mode that can load just about any XML file
        but has no domain-specific knowledge. It would be conceivable to have
          a mode that offers specialized editing facilities. For instance, a
        mode could allow inserting links to a Zotero database of
        bibliographical elements.
      </li>
      <li>
        Schema. We're talking about the XML schema that determines whether or
        not the document is valid.
      </li>
      <li>
        Meta. This is an programmatic adjunct to the mode, which helps the mode
        customize its behavior. Schemas do not contain all the information
        that end-users care about. For instance, in a TEI schema, a "p"
        element should typically be rendered as a block, whereas a "hi"
        element should be represented inline. This information is not part of
        the schema and must be represented elsewhere. The meta takes care of
        this.
      </li>
      <li>
        Metadata. The metadata performs a task similar to the meta but,
        whereas the meta operates dynamically, metadata is static. An example
        of metadata is documentation extracted from a schema.
      </li>
    </ul>
  </div>
  <table class="table">
    <tbody>
      <tr>
        <th>Operations</th>
        <th>Name</th>
        <th>Uploaded</th>
      </tr>
      <tr *ngFor="let record of records; let $last = last; trackBy: record?.name" [class.last]="$last" [attr.data-record-name]="record.name" (click)="showDetails(record)">
        <td>
          <a class="btn btn-default delete-button"
             (click)="del(record); $event.stopPropagation()"
             href="#"
             title="Delete"><i class="fa fa-times"></i></a>
          <a class="btn btn-default download-button"
             (click)="download(record); $event.stopPropagation()"
             href="#" title="Download"><i class="fa fa-download"></i></a>
          <div class="btn-group">
            <a class="btn btn-default dropdown-toggle"
               data-toggle="dropdown"
               aria-haspopup="true"
               aria-expanded="false"
               href="#"
               title="Upload">
              <i class="fa fa-upload"></i> <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <input type="file" (change)="upload(record, $event)"
                       title="Upload">
              </li>
            </ul>
          </div>
        </td>
        <td>{{record.name}}</td>
        <td>{{record.uploaded.toLocaleString()}}</td>
      </tr>
      <tr *ngIf="!records || !records.length" class="files-table-empty">
        <td colspan="5">No packs!</td>
      </tr>
    </tbody>
  </table>
  <div class="form-inline">
    <upload-component></upload-component>
    <a class="form-control btn btn-primary" routerLink="./new">New File</a>
    <clear-store-component></clear-store-component>
  </div>
</div>
