<div *ngIf="file">
  <h2>File: {{file.name}}</h2>
  <form class="form" #form="ngForm" (ngSubmit)="onSubmit($event)">
    <label for="name">Name: </label>
    <input name="name" class="form-control" [(ngModel)]="file.name"
           placeholder="name" required>
    <div *ngIf="formErrors.name" class="alert alert-danger">
       {{ formErrors.name }}
    </div>

    <label for="mode">Mode: </label>
    <select name="mode" class="form-control" [(ngModel)]="file.mode"
            required>
      <option *ngFor="let mode of modes" [value]="mode">{{mode}}</option>
    </select>
    <div *ngIf="formErrors.mode" class="alert alert-danger">
       {{ formErrors.mode }}
    </div>

    <label for="schema">Schema: </label>
    <select name="schema" class="form-control" [(ngModel)]="file.schema"
            required>
      <option *ngFor="let schema of schemas" [value]="schema.id">{{schema.name}}</option>
    </select>
    <div *ngIf="formErrors.schema" class="alert alert-danger">
       {{ formErrors.schema }}
    </div>

    <label for="meta">Meta: </label>
    <select name="meta" class="form-control" [(ngModel)]="file.meta">
      <option *ngFor="let meta of metas" [value]="meta">{{meta}}</option>
    </select>
    <div *ngIf="formErrors.meta" class="alert alert-danger">
       {{ formErrors.meta }}
    </div>

    <label for="metadata">Metadata: </label>
    <select name="metadata" class="form-control" [(ngModel)]="file.metadata">
      <option *ngFor="let m of metadata" [value]="m.id">{{m.name}}</option>
    </select>
    <div *ngIf="formErrors.metadata" class="alert alert-danger">
       {{ formErrors.metadata }}
    </div>

    <hr>
    <label for="uploaded">Last uploaded: </label>
    <input name="uploaded" class="form-control"
           [ngModel]="file.uploaded.toLocaleString()" readonly="true">
    <label for="downloaded">Last downloaded: </label>
    <input name="downloaded" class="form-control"
           [ngModel]="file.downloaded.toLocaleString()" readonly="true">
    <button class="btn btn-default" type="submit"
            [disabled]="!form.valid">Save</button>
  </form>
  <button class="btn btn-default" (click)="goBack()">Back</button>
</div>
