<div>
  <div class="well well-default">
    <p>
      This is where you can upload schemas into the database. Unless you design
      packs, you do not need to upload schemas.
    </p>
  </div>
  <table class="table">
    <tbody>
      <tr>
        <th>Operations</th>
        <th>Name</th>
        <th>Uploaded</th>
        <th>Downloaded</th>
      </tr>
      <tr *ngFor="let record of records; let $last = last; trackBy: record?.name" [class.last]="$last" [attr.data-record-name]="record.name" (click)="showDetails(record, $event)">
        <td class="buttons">
          <button class="btn btn-default delete-button"
                  (click)="del(record)"
                  title="Delete"><i class="fa fa-times"></i></button>
          <button class="btn btn-default download-button"
                  (click)="download(record)"
                  title="Download"><i class="fa fa-download"></i></button>
          <div class="btn-group">
            <button class="btn btn-default dropdown-toggle"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                    title="Upload">
              <i class="fa fa-upload"></i> <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li>
                <input type="file" (change)="upload(record, $event)"
                       title="Upload">
              </li>
            </ul>
          </div>
        </td>
        <td>{{record.name}}</td>
        <td>{{record.uploaded.toLocaleString()}}</td>
        <td>{{record.downloaded.toLocaleString()}}</td>
      </tr>
      <tr *ngIf="!records || !records.length" class="files-table-empty">
        <td colspan="5">No schemas!</td>
      </tr>
    </tbody>
  </table>
  <div class="form-inline">
    <upload-component></upload-component>
    <clear-store-component></clear-store-component>
  </div>
</div>
