<div *ngIf="file">
  <h2>File: {{file.name}}</h2>
  <form class="form" #form="ngForm" (ngSubmit)="onSubmit($event)">
    <label for="name">Name: </label>
    <input name="name" class="form-control" [(ngModel)]="file.name"
           placeholder="name" required>
    <div *ngIf="formErrors.name" class="alert alert-danger">
       {{ formErrors.name }}
    </div>

    <label for="pack">Pack: </label>
    <select name="pack" class="form-control" [(ngModel)]="file.pack"
            required>
      <option *ngFor="let pack of packs" [ngValue]="pack.id">{{pack.name}}</option>
    </select>
    <div *ngIf="formErrors.pack" class="alert alert-danger">
       {{ formErrors.pack }}
    </div>
    <hr>
    <label for="saved">Last saved: </label>
    <input name="saved" class="form-control"
           [ngModel]="file.saved.toLocaleString()" readonly="true">
    <label for="uploaded">Last uploaded: </label>
    <input name="uploaded" class="form-control"
           [ngModel]="file.uploaded.toLocaleString()" readonly="true">
    <label for="downloaded">Last downloaded: </label>
    <input name="downloaded" class="form-control"
           [ngModel]="file.downloaded.toLocaleString()" readonly="true">
    <button class="btn btn-default" type="submit"
            [disabled]="!form.valid">Save</button>
  </form>
  <button class="btn btn-default" (click)="goBack()">Back</button>
</div>
